
<p id="notice"><%= notice %></p>
<%  if @user %>
	<%= render "users/header" %>
<% end %>		
<p>
 	<h3><%= @list.name %></h3>
</p>
	<h5><%= @list.description %></h5>
<p>
  <strong>Rating:</strong>
  <%= @list.rating %>
</p>

<% if @movies %>
	<% count = 0 %>
	<div style="text-align:center">
		<% @movies.each do |movie| %>
			<div style="display: inline-block">
				<%= render movie %>
			</div>
			
			<% count += 1 %>
			<% if count > 5 %>
				<br/>
				<% count = 0 %>
			<% end %>
		<% end %>
	</div>
<% end %>
<%= paginate @movies %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
