<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<% if @movies %>
	<% count = 0 %>
	<div style="text-align:center">
		<% @movies.each do |movie| %>
			<div style="display: inline-block">
				<%= render movie %>
			</div>
			
			<% count += 1 %>
			<% if count > 5 %>
				<br/>
				<% count = 0 %>
			<% end %>
		<% end %>
	</div>
<% end %>
<%= paginate @movies %>
<br>


<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
