<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<% if @movies %>
	<% @movies.each do |movie| %>
   	 <%= movie['title'] %>: <%= movie['imdb_id'] %>
	<% end %>
<% end %>

<%= link_to 'Edit account', edit_user_path(@user) %>

