<h3>Home</h3>

<%= form_tag(root_path, :method => "get", class: "navbar-form", id: "search-form") do %>
<div class="input-append">
	<%= text_field_tag :query, params[:query], class: "span2",id: "tags",  placeholder: "Search" %>
	<%= submit_tag "Search", :name => nil %>
	<% if @suggestion %>
	Did you mean: <%= link_to @suggestion, root_path(:query => @suggestion) %>?
	<% end %>
</div>
<% end %>
<script>
	$("#query").typeahead({
		name:"movies",remote:"/autocomplete?query=%QUERY"
	});
	$('#tags').tagsInput({
		 'autocomplete_url': "http://localhost:3000/autocomplete"
	});
</script>

<% if @movies %>
	<% count = 0 %>
	<div style="text-align:center">
		<% @movies.each do |movie| %>
			<div style="display: inline-block">
				<% if !@user.nil? %>					
					<%= render movie %>
				<% else %>
					<%= render movie %>
				<% end %>
			</div>
			
			<% count += 1 %>
			<% if count > 5 %>
				<br/>
				<% count = 0 %>
			<% end %>
		<% end %>
	</div>
<% end %>
<%= paginate @movies %>